body {
    background-color: #f8f9fa; /* Light grey background */
    font-family: Arial, sans-serif;
    color: #212529; /* Dark grey text */
}

nav {
    background-color: #6c757d; /* Dark grey navigation bar */
    text-align: center;
    padding: 15px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 50px;
    text-align: center;
    color: #333;
}

.centered-content h2 {
    font-size: 2em;
    color: #4CAF50;
}

.centered-content input[type="text"], .centered-content input[type="password"] {
    width: 100%;  /* Increase this value to make the text fields wider */
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #4CAF50;
    border-radius: 4px;
}

.centered-content input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.centered-content input[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    background-color: #6c757d; /* Dark grey footer */
    color: #fff;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.alert {
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

#submit-button:active {
    font-weight: bold;
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe-card {
    flex: 1 0 21%;  /* Adjust this to change the card width */
    margin: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

.recipe-card img {
    width: 100%;  /* This will make the image take the full width of the card */
    height: auto;  /* This will maintain the image aspect ratio */
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe-card {
    flex: 1 0 21%;  /* Adjust this value to control the number of cards per row */
    margin: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

.recipe-card img {
    width: 100%;  /* Make the image take up the full width of its container */
    height: auto;  /* Keep the original aspect ratio of the image */
}

.recipe-card a {
    display: block;  /* Make the link take up its own line */
    text-align: center;  /* Center the link text */
}